.body{
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
}

a{
	color: #2E3233;
}
a:hover{
	color: #CAF200;
}

.navbar{
	background-color: transparent;
	padding: 13px;
	transition: padding .5s ease-in-out, background .35s ease-in-out;
}

.navbar li{
	display: inline;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2E3233;
}

.top-nav-collapse{
	padding: 0;
}

.nav-pills .active a{
	color: #2E3233;
	background-color: #CAF200;
}

/* TODO: figure out why if active, hover turns it BootStrap blue
.nav-pills li.active a:hover{
	color: #2E3233;
	background-color: #CAF200;
}

.nav-pills li:active a:focus{
	color: #2E3233;
	background-color: #CAF200;
}
*/

.video-container{
	position: relative;
}

.bgvid video {
	position: relative;
	/*min-width: auto;
	min-height: auto;*/
	width: 100%;
	height: auto;
	background-size: cover;
	margin: 0;
	padding: 0;
	border-bottom: 1px black;
	transition: 1s opacity;
	z-index: 0;
}

.overlay{
	position: absolute;
	z-index: 1;
	bottom: 20%;
	left: 3%;
	text-align: center;
}

.overlay .banner-title{
	color:rgb(255,255,255);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 7em;
}
.overlay .banner-links{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2em;
}

.overlay .banner-links a{
	color: rgb(255, 255, 255);

}

.overlay .banner-link a:hover{
	color: #CAF200;
}

.stopfade{
	opacity: .5;
}


.about{
	position: relative;
	height: 300px;
	background-color:#FFFEFC;
	color: #2E3233;
	padding-bottom: 85px;
}

.header{
	color: #CAF200;
}

.about .row{
	position:relative;
	height: auto;
}

.footer{
	height:34px;
	position: relative;
	background-color:#FFFEFC;
	color: #2E3233;
	padding:10px;
	display: block;
	bottom: 0;
	margin: 0;
}
.footer .container{
	bottom: 0;
}
.footer ul{
	padding: 0;
}
.footer li{
	display: inline;
	padding: 0;
}

/* TODO: make jumbotron for mobile
.jumbotron{
	height:720px;
	background-image: url("../img/banner_laptop_600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin:0px;
	border-bottom: 1px black;
}
*/
