.body{
	position:relative;
}

.navbar{
	background-color: transparent;
}

.navbar{
	padding: 13px;
	transition: padding .5s ease-in-out, background .35s ease-in-out;
}

.navbar li{
	display: inline;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	font-color: white;
	text-transform: uppercase;
}

.top-nav-collapse{
	padding: 0px;
	background-color: #424B5C;
}

video #bgvid{
	position: fixed;
	width: auto;
	height: auto;
	background-image: url(img/portland.jpg)
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	border-bottom: 1px black;
	transition: 1s opacity;
}

.video{
	height:750px;

}

.video .container{
	position:relative;
	top: -400px;
	padding: 0px;
}

.stopfade{
	opacity: .5;
}
/*
.jumbotron{
	height:600px;
	background-image: url("../img/Portland.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin:0px;
	border-bottom: 1px black;
}

.jumbotron .container{
	position: relative;
	top: 200px;
}

.jumbotron h1{
	font-size: 48px;
	font-weight: bold;
	color: white;
}

.jumbotron p {
	font-size: 20px;
	color: white;
}
*/
.about{
	background-color:#E4DAD8;
	height:400px;
	/*padding:35px;*/

}

.about .row{
	position:relative;
	top:75px;
}

.contact{
	background-color:#424B5C;
	padding:100px;
}

.contact .col-md-4{
	margin: 25px;
	margin-left: auto;
	margin-right: auto;
}

.footer{
	background-color:#1F1919;
	padding:15px;

}
